<div class="container">
  <h2 class="table-primary" style="text-align: center">Books List</h2>
  <span>Có {{books.length}} quyển sách <button style="margin-left: 85%" type="button" class="btn btn-outline-success"
                                                data-toggle="modal" data-target="#exampleModal"
                                                data-whatever="@getbootstrap">Add New Book
  </button></span>
</div>
<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th colspan="2">Action</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let book of books; index as i">
      <td>{{i + 1}}</td>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.description}}</td>
      <td>
        <button [routerLink]="['book', book.id]" class="btn btn-outline-warning">Detail</button>
      </td>
      <td><a [routerLink]="['book-edit', book.id]"><span class="btn btn-outline-info">Edit</span></a></td>
      <td>
        <button (click)="deleteBook(book.id)" type="button" class=" btn btn-outline-danger"><span>Delete</span></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-create-book></app-create-book>
      </div>
    </div>
  </div>
</div>
